<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FRESUgandaERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FRESUgandaERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <FRESUgandaERP.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBdirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SysdbaPass" serializeAs="String">
                <value>masterkey</value>
            </setting>
        </FRESUgandaERP.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FRESUgandaERP.Properties.Settings>
            <setting name="MasterPass" serializeAs="String">
                <value>c0cac01a</value>
            </setting>
            <setting name="Station" serializeAs="String">
                <value>Kashari</value>
            </setting>
        </FRESUgandaERP.Properties.Settings>
    </applicationSettings>
</configuration>
